In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_selection import mutual_info_regression
import talib as ta

In [6]:
D = pd.read_parquet('BTCUSDT.parquet.gzip', engine='pyarrow')
D.head()

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,2022-01-01 23:59:59.999000072,9.241552e+08,714899,9942.36679,4.687387e+08,0
1,2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,2022-01-02 23:59:59.999000072,8.666110e+08,709624,9166.46954,4.331824e+08,0
2,2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,2022-01-03 23:59:59.999000072,1.292204e+09,885624,13524.76045,6.318794e+08,0
3,2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,2022-01-04 23:59:59.999000072,1.649170e+09,1021815,17689.26808,8.217255e+08,0
4,2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2022-01-05 23:59:59.999000072,2.334289e+09,1478532,23552.99460,1.063287e+09,0

# Cleaning

In [8]:
D = D.set_index('Open Time')
D.index.name = 'Date'
D.drop(['Close Time', 'Ignore'], axis=1, inplace=True)
D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume
Date,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09
...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08

# Volume

In [15]:
D['OBV'] = ta.OBV(D['Close'],D['Volume'])

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV
Date,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05
...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06

# Trend

In [25]:
ma_value = [10,20,50,100,200]

for val in ma_value:
    D[f'MA_{val}'] = D['Close'].rolling(window=val).mean()

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,MA_10,MA_20,MA_50,MA_100,MA_200
Date,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,98284.956,99607.8400,95033.8046,80374.4530,70868.13345
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,97101.485,99331.1920,95402.6274,80699.8434,70991.92860
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,96611.084,99040.7125,95778.4318,81023.3635,71131.85740
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,96238.718,98863.7990,96119.6466,81328.7350,71259.22845
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,95844.775,98727.4495,96389.5666,81633.9055,71394.69345

## MACD

In [44]:
D['MACD_12_26'], D['Signal_Line_9'], D['MACD_Histogram'] = ta.MACD(D['Close'],12,26)

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,MA_10,MA_20,MA_50,MA_100,MA_200,MACD_12_26,Signal_Line_9,MACD_Histogram
Date,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,98284.956,99607.8400,95033.8046,80374.4530,70868.13345,649.336173,1621.835275,-972.499101
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,97101.485,99331.1920,95402.6274,80699.8434,70991.92860,286.664277,1354.801075,-1068.136798
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,96611.084,99040.7125,95778.4318,81023.3635,71131.85740,79.102258,1099.661312,-1020.559054
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,96238.718,98863.7990,96119.6466,81328.7350,71259.22845,-209.007042,837.927641,-1046.934683
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,95844.775,98727.4495,96389.5666,81633.9055,71394.69345,-422.156185,585.910876,-1008.067061

# Momentum

## ADX

In [61]:
D['ADX'] = ta.ADX(D['High'], D['Low'], D['Close'],14)
D['+DI'] = ta.PLUS_DI(D['High'], D['Low'], D['Close'],14)
D['-DI'] = ta.MINUS_DI(D['High'], D['Low'], D['Close'],14)

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,...,MA_20,MA_50,MA_100,MA_200,MACD_12_26,Signal_Line_9,MACD_Histogram,ADX,+DI,-DI
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,...,99607.8400,95033.8046,80374.4530,70868.13345,649.336173,1621.835275,-972.499101,26.570810,19.847686,26.499527
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,...,99331.1920,95402.6274,80699.8434,70991.92860,286.664277,1354.801075,-1068.136798,26.079135,18.492411,27.558651
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,...,99040.7125,95778.4318,81023.3635,71131.85740,79.102258,1099.661312,-1020.559054,25.622580,17.970196,26.780411
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,...,98863.7990,96119.6466,81328.7350,71259.22845,-209.007042,837.927641,-1046.934683,25.460763,17.207188,27.695069
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,...,98727.4495,96389.5666,81633.9055,71394.69345,-422.156185,585.910876,-1008.067061,25.310504,16.864948,27.144233

## RSI

In [65]:
list = [7,14,21]

for val in list:
    D[f'RSI_{val}'] = ta.RSI(D['Close'],val)

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,...,MA_200,MACD_12_26,Signal_Line_9,MACD_Histogram,ADX,+DI,-DI,RSI_7,RSI_14,RSI_21
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,...,70868.13345,649.336173,1621.835275,-972.499101,26.570810,19.847686,26.499527,39.616753,46.646436,51.160805
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,...,70991.92860,286.664277,1354.801075,-1068.136798,26.079135,18.492411,27.558651,35.264294,43.997085,49.168446
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,...,71131.85740,79.102258,1099.661312,-1020.559054,25.622580,17.970196,26.780411,40.388418,46.203787,50.525166
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,...,71259.22845,-209.007042,837.927641,-1046.934683,25.460763,17.207188,27.695069,35.301855,43.334612,48.408408
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,...,71394.69345,-422.156185,585.910876,-1008.067061,25.310504,16.864948,27.144233,36.070551,43.643038,48.593467

# Volatility

## Average True Range

In [69]:
list = [7,14,21]

for val in list:
    D[f'ATR_{val}'] = ta.ATR(D['High'], D['Low'],D['Close'],val)

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,...,MACD_Histogram,ADX,+DI,-DI,RSI_7,RSI_14,RSI_21,ATR_7,ATR_14,ATR_21
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,...,-972.499101,26.570810,19.847686,26.499527,39.616753,46.646436,51.160805,4286.198683,4245.169686,4093.079616
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,...,-1068.136798,26.079135,18.492411,27.558651,35.264294,43.997085,49.168446,4251.680300,4230.841137,4090.769634
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,...,-1020.559054,25.622580,17.970196,26.780411,40.388418,46.203787,50.525166,3872.630257,4042.804627,3972.082033
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,...,-1046.934683,25.460763,17.207188,27.695069,35.301855,43.334612,48.408408,3652.323077,3920.495725,3893.910507
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,...,-1008.067061,25.310504,16.864948,27.144233,36.070551,43.643038,48.593467,3278.314066,3714.336030,3757.736674

## Bollinger Bands

In [91]:
D['Upper_Band_10'], D['Middle_Band_10'], D['Lower_Band_10'] = ta.BBANDS(D['Close'], timeperiod=10, nbdevup=2, nbdevdn=2, matype=0)
D['Upper_Band_20'], D['Middle_Band_20'], D['Lower_Band_20'] = ta.BBANDS(D['Close'], timeperiod=20, nbdevup=2, nbdevdn=2, matype=0)

D

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,OBV,...,RSI_21,ATR_7,ATR_14,ATR_21,Upper_Band_10,Middle_Band_10,Lower_Band_10,Upper_Band_20,Middle_Band_20,Lower_Band_20
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-01,46216.93,47954.63,46208.37,47722.65,19604.46325,9.241552e+08,714899,9942.36679,4.687387e+08,1.960446e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-02,47722.66,47990.00,46654.00,47286.18,18340.46040,8.666110e+08,709624,9166.46954,4.331824e+08,1.264003e+03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-03,47286.18,47570.00,45696.00,46446.10,27662.07710,1.292204e+09,885624,13524.76045,6.318794e+08,-2.639807e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,46446.10,47557.54,45500.00,45832.01,35491.41360,1.649170e+09,1021815,17689.26808,8.217255e+08,-6.188949e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-05,45832.01,47070.00,42500.00,43451.13,51784.11857,2.334289e+09,1478532,23552.99460,1.063287e+09,-1.136736e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-26,99429.61,99963.70,95199.14,95791.60,21192.36727,2.049124e+09,5203490,10071.87249,9.739406e+08,-4.041333e+06,...,51.160805,4286.198683,4245.169686,4093.079616,104482.876447,98284.956,92087.035553,106004.765758,99607.8400,93210.914242
2024-12-27,95791.60,97544.58,93500.01,94299.03,26501.26429,2.528568e+09,5718866,12945.51657,1.235624e+09,-4.067835e+06,...,49.168446,4251.680300,4230.841137,4090.769634,100912.716003,97101.485,93290.253997,106131.277791,99331.1920,92531.106209
2024-12-28,94299.03,95733.99,94135.66,95300.00,8385.89290,7.946516e+08,2732061,4203.59876,3.984163e+08,-4.059449e+06,...,50.525166,3872.630257,4042.804627,3972.082033,99929.424538,96611.084,93292.743462,106006.429642,99040.7125,92074.995358
2024-12-29,95300.00,95340.00,93009.52,93738.20,13576.00578,1.278371e+09,2865838,5651.38589,5.321954e+08,-4.073025e+06,...,48.408408,3652.323077,3920.495725,3893.910507,99908.679205,96238.718,92568.756795,106171.113089,98863.7990,91556.484911
2024-12-30,93738.19,94274.29,93240.03,93866.01,6939.07618,6.502397e+08,1973750,3411.55572,3.197451e+08,-4.066086e+06,...,48.593467,3278.314066,3714.336030,3757.736674,99602.154548,95844.775,92087.395452,106296.250450,98727.4495,91158.648550

# Columns

In [93]:
D.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Quote Asset Volume',
       'Number of Trades', 'TB Base Volume', 'TB Quote Volume', 'OBV', 'MA_10',
       'MA_20', 'MA_50', 'MA_100', 'MA_200', 'MACD_12_26', 'Signal_Line_9',
       'MACD_Histogram', 'ADX', '+DI', '-DI', 'RSI_7', 'RSI_14', 'RSI_21',
       'ATR_7', 'ATR_14', 'ATR_21', 'Upper_Band_10', 'Middle_Band_10',
       'Lower_Band_10', 'Upper_Band_20', 'Middle_Band_20', 'Lower_Band_20'],
      dtype='object')